tr,
td {
    border: 1px;
    border-style: solid;
}

td {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    margin: 100px;
}

.Red {
    background-color: red !important;
}

.Green {
    background-color: green !important;
}

.Blue {
    background-color: blue !important;
}

.Yellow {
    background-color: yellow !important;
}